@charset "UTF-8";
html{
    /* htmlタグに指定するとブラウザのデフォルトの文字サイズが入る*/
    font-size: 100%;
    color:#303030;
}

body {
    background-color:aliceblue;
    font-family:sans-serif;
}

h1 {
    /* remで指定したサイズは相対値で指定される*/
    font-size: 2rem;
    font-weight: bolder;
    font-family: "ヒラギノ丸ゴ Pro W4";
}

.text-align-check {
    background-color: aliceblue;
    width: 300px;
}

#text-align-check-left{
    text-align: left;
}

#text-align-check-right{
    text-align: right;
}

#text-align-check-center{
    text-align: center;
}

#text-align-check-justify{
    text-align: justify;
}

.line-height-check {
    background-color: aliceblue;
    width: 500px;
}

#line-height_1_5 {
    line-height: 1.5;
}

#line-height_2_0 {
    line-height: 2.0;
}

#line-height_3_0 {
    line-height: 3.0;
}

section {
    background-color: aqua;
    line-height: 2.0;
    text-align: left;
}
